.icon {
    list-style-type: none; /* Убираем исходные маркеры */
    background: no-repeat 0 50%; /* Параметры фона */
    background-size: 20px;
    padding-left: 35px;
}

.icon::before {
    display: none;
}

.podcast {
    background-image: url('./podcast.png');
}

.breakfast {
    background-image: url('./breakfast.png');
}

.twitter {
    background-image: url('./twitter.png');
}

.agressor {
    background-image: url('./aggressor.png');
}

.culture {
    background-image: url('./culture.png');
}

.error {
    background-image: url('./error.png');
}